/* app css stylesheet */

@import 'normalize.css';
@import 'bourbon/bourbon';
@import 'fonts';

$PHOTO_FADE_IN_DURATION: 0.6s;
$PHOTO_FADE_OUT_DURATION: 0.3s;
$PHOTO_SLIDE_IN_DURATION: 0.3s;
$PHOTO_SLIDE_OUT_DURATION: 0.3s;
$BG_FADE_DURATION: 0.3s;

$DEFAULT_BG_COLOR: #000;
$DEFAULT_BORDER_COLOR: #919191;

$NAVBAR_HEIGHT: 2em;

@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}

html, body { height: 100%; overflow: hidden; }

body {
    font-family: "BitstreamVera";
    background-color: #1f1f1f;
    color: #9f9f9f;
    @include transition( background-color $BG_FADE_DURATION ease-out );
    @include user-select(none);
}

nav {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 200%;
    padding-left: 0.5em;
    height: $NAVBAR_HEIGHT;
    background-color: $DEFAULT_BG_COLOR;
    border-color: $DEFAULT_BORDER_COLOR;
    border-width: 0 0 1px 0;
    border-style: solid;

    button {
        padding: 0;
        margin: 0;
        border: 0;
        background: none;
    }
}

footer {
    @extend nav;
    top: auto;
    bottom: 0;
    border-width: 1px 0 0 0;
}

.photo-gallery {
    .photo-container {
        @include calc(max-height, "100% - #{$NAVBAR_HEIGHT * 2} - 1px");

        img {
            box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.7), 0px 0px 40px rgba(0, 0, 0, 0.4);
            position: absolute;
            max-height: inherit; // from .photo-container

            max-width: 96%;      // leave some space on left and right of the
                                 // photo

            background-color: $DEFAULT_BG_COLOR;
            outline: 1px solid $DEFAULT_BORDER_COLOR;
            border: 2px solid black;

            // center vertically and horizontally
            top: 50%;
            left: 50%;
            @include transform( translate(-50%, -50%) );
        }

        .photo-slide {
            opacity:1;
            @include transition(
                $PHOTO_SLIDE_IN_DURATION ease-out all,
                $PHOTO_FADE_IN_DURATION ease-out opacity !important
            );

            &.ng-hide {
                opacity: 0;
                @include transition(
                    $PHOTO_SLIDE_OUT_DURATION ease-out all,
                    $PHOTO_FADE_OUT_DURATION ease-out opacity !important
                );
            }

            &.ng-hide-add,
            &.ng-hide-remove {
                // make the ng-hidden element visible during the animation since the
                // .ng-hide class is already on the element, therefore rendering it as
                // hidden.
                display: block !important;
            }
            &.ng-hide-remove {}
            &.ng-hide-add {}
        }

        .slide-left {
            @include transform( translate(-70%, -50%) );
        }
        .slide-right {
            @include transform( translate(-30%, -50%) );
        }
    }
} // /.photo-gallery


@media (max-width: 767px) {
    // image can take up nearly full screen on small screens
    .photo-gallery {
        .photo-container {
            max-height: 94%;
            max-width: 94%;
        }
    }
    .hidden-xs { // stolen from bootstrap
        display: none !important;
    }
}
