/* app css stylesheet */
@import url(normalize.css);
/* line 15 */
html, body {
  height: 100%;
  overflow: hidden; }

/* line 17 */
body {
  background-color: #1f1f1f;
  color: #9f9f9f;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 24 */
nav, footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background-color: black;
  border-color: #919191;
  border-width: 0 0 1px 0;
  border-style: solid; }

/* line 36 */
footer {
  top: auto;
  bottom: 0;
  border-width: 1px 0 0 0; }

/* line 44 */
.photo-gallery .photo-container {
  max-height: calc(100% - 6em - 1px); }
  /* line 47 */
  .photo-gallery .photo-container img {
    position: absolute;
    max-height: inherit;
    /* from .photo-container */
    /* center vertically and horizontally */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  /* line 57 */
  .photo-gallery .photo-container .photo-slide {
    opacity: 1;
    -webkit-transition: 0.3s ease-out all, 0.6s ease-out opacity !important;
    -moz-transition: 0.3s ease-out all, 0.6s ease-out opacity !important;
    transition: 0.3s ease-out all, 0.6s ease-out opacity !important; }
    /* line 64 */
    .photo-gallery .photo-container .photo-slide.ng-hide {
      opacity: 0;
      -webkit-transition: 0.3s ease-out all, 0.3s ease-out opacity !important;
      -moz-transition: 0.3s ease-out all, 0.3s ease-out opacity !important;
      transition: 0.3s ease-out all, 0.3s ease-out opacity !important; }
    /* line 72 */
    .photo-gallery .photo-container .photo-slide.ng-hide-add, .photo-gallery .photo-container .photo-slide.ng-hide-remove {
      display: block !important; }
  /* line 83 */
  .photo-gallery .photo-container .slide-left {
    -webkit-transform: translate(-70%, -50%);
    -moz-transform: translate(-70%, -50%);
    -ms-transform: translate(-70%, -50%);
    -o-transform: translate(-70%, -50%);
    transform: translate(-70%, -50%); }
  /* line 86 */
  .photo-gallery .photo-container .slide-right {
    -webkit-transform: translate(-30%, -50%);
    -moz-transform: translate(-30%, -50%);
    -ms-transform: translate(-30%, -50%);
    -o-transform: translate(-30%, -50%);
    transform: translate(-30%, -50%); }

@media (max-width: 767px) {
  /* line 96 */
  .photo-gallery .photo-container {
    max-height: 94%;
    max-width: 94%; }

  /* line 101 */
  .hidden-xs {
    display: none !important; } }
