/* app css stylesheet */

/* TODO vertical centering! */

html, body { height: 100%; overflow: hidden; }

.photo-container {
    /*position: relative;*/
    margin-top: 10px;
}

.photo-container {
    max-height: 100%;
}

.photo-container img {
    position: absolute;
    max-height: 100%;

    /* center vertically and horizontally */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.photo-container .photo-slide {
  -webkit-transition: 0.3s ease-out all !important;
  transition: 0.3s ease-out all !important;
  opacity:1;
}

.photo-container .photo-slide.ng-hide {
    opacity: 0;
}

.photo-container .photo-slide.ng-hide-add,
.photo-container .photo-slide.ng-hide-remove {

    /* make the ng-hidden element visible during the animation
       since the .ng-hide class is already on the element, therefore rendering
       it as hidden. */

    display: block !important;
}
.photo-container .photo-slide.ng-hide-remove {
}
.photo-container .photo-slide.ng-hide-add {
}

.photo-container .slide-left {
    -webkit-transform: translate(-70%, -50%);
       -moz-transform: translate(-70%, -50%);
        -ms-transform: translate(-70%, -50%);
         -o-transform: translate(-70%, -50%);
            transform: translate(-70%, -50%);
}
.photo-container .slide-right {
    -webkit-transform: translate(-30%, -50%);
       -moz-transform: translate(-30%, -50%);
        -ms-transform: translate(-30%, -50%);
         -o-transform: translate(-30%, -50%);
            transform: translate(-30%, -50%);
}
