/* app css stylesheet */

/* TODO vertical centering! */
/*.element {*/
  /*position: relative;*/
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
/*}*/

.photo-container {
    position: relative;
    margin-top: 10px;
}
img {
    position: absolute;
    top: 0;
    z-index: 1;
}

.photo-container .photo-slide {
  -webkit-transition: 0.3s ease-out all !important;
  transition:0.3s ease-out all !important;
  opacity:1;
}

.photo-container .photo-slide.ng-hide {
    opacity:0;
}

.photo-container .photo-slide.ng-hide-add,
.photo-container .photo-slide.ng-hide-remove {
  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
    display:block!important;
}
.photo-container .photo-slide.ng-hide-remove {
}
.photo-container .photo-slide.ng-hide-add {
}

.slide-left {
  -webkit-transform : translate(-20%, 0) scale(1);
     -moz-transform : translate(-20%, 0) scale(1);
       -o-transform : translate(-20%, 0) scale(1);
          transform : translate(-20%, 0) scale(1);
}
.slide-right {
  -webkit-transform : translate(20%, 0) scale(1);
     -moz-transform : translate(20%, 0) scale(1);
       -o-transform : translate(20%, 0) scale(1);
          transform : translate(20%, 0) scale(1);
}

