<div class="container">

    <div data-ng-show="flickr_fail">
        <div class="row">
            <div class="col-xs-6">
                <p class="alert alert-info">
                    I'm sorry, but my photos are hosted by Flickr and Flickr
                    appears to be down.  I'm redirecting you to <a
                    href="http://www.flickr.com/mwcloud" title="my Flickr
                    page">my Flickr page</a>, but odds are that it's down too.
                    </p>
                </div>
            </div>
        </div>

    <div
        class        = "photo-gallery"
        data-ng-show = "!flickr_fail">

        <div class="text-center controls hidden-xs">
            <span
                class         = "glyphicon glyphicon-arrow-left btn btn-lg"
                data-ng-click = "current_photo = current_photo - 1"></span>
            <span
                class         = "glyphicon glyphicon-arrow-right btn btn-lg"
                data-ng-click = "current_photo = current_photo + 1"></span>
            </div>

        <div
            data-ng-repeat = "photo in photos"
            class          = "photo-container">

            <img
                class           = "img-responsive photo-slide"
                data-ng-show    = "current_photo === $index"
                data-ng-src     = "{{ photos[$index].img }}"
                alt             = "{{ photo.title }}" />

            </div>

        </div>
</div>
